<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark mb-4">

      <a class="navbar-brand" href="/"><img class="navbar-logo" src=" /assets/g_b.jpg " /> &nbsp; darkthecross workshop</a>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        {%- assign ac = " active" -%}
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link {%- if page.title=="darkthecross workshop" -%} {{ac}} {%- endif -%} " href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {%- if page.title=="Computer Vision and Machine Learning" -%} {{ac}} {%- endif -%} " href="/cvnml/"> CV&ML </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {%- if page.title=="Robotics" -%} {{ac}} {%- endif -%} " href="/robotics/"> Robotics </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {%- if page.title=="Uncategorized" -%} {{ac}} {%- endif -%} " href="/uncategorized/"> Uncategorized </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {%- if page.title=="about" -%} {{ac}} {%- endif -%} " href="/about/">About</a>
          </li>
        </ul>
      </div>
    </nav>
