---
layout: default
---

<div class="container post-container">
    <div class="row align-items-center">
        <div class="col-8">
            <div class="container">
                <div class="row">
                    <h2>{{ page.author-name }}</h2>
                </div>
                {{content}}
            </div>
        </div>
        <div class="col-4">
            {%- assign author_img = site.static_files | where: "name", page.author-image -%}
            <img id="author-img" class="img-fluid" src="{{author_img[0].path}}" />
        </div>
    </div>

</div>